@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: #fdfffc;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  background-color: #011627;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-text {
  font-size: 48px;
  padding: 1rem 0 1rem 0;
}

.board {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  display: grid;
}

.content {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.color-picker-text {
  color: black;
}

.picker-button {
  font-size: 28px;
  width: 9rem;
  height: 2em;
}

.red {
  background-color: red;
  border: 2px solid rgb(70, 0, 0);
}

.red:hover {
  background-color: rgb(174, 0, 0);
}

.green {
  background-color: green;
  border: 2px solid rgb(0, 34, 0);
}

.green:hover {
  background-color: rgb(0, 91, 0);
}

.yellow {
  background-color: yellow;
  border: 2px solid rgb(176, 176, 0);
}

.yellow:hover {
  background-color: rgb(226, 226, 0);
}

.black {
  background-color: rgb(36, 36, 36);
  color: white;
  border: 2px solid black;
}

.black:hover {
  background-color: rgb(49, 49, 49);
}

.rainbow {
  background-color: rebeccapurple;
  border: 2px solid rgb(65, 26, 105);
}

.rainbow:hover {
  background-color: rgb(85, 31, 138);
}

.color-picker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.colors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
